<h1>Contact list</h1>

<div *ngIf="contactFacade.contacts$ | async else loading" class="list-group my-4">
    <div *ngFor="let contact of contactFacade.contacts$ | async" class="list-group-item list-group-item-action">
        <app-contact-list-item (delete)="onDelete($event)" [contact]="contact"></app-contact-list-item>
    </div>
</div>

<ng-template #loading>
    <img src="assets/spinner.svg" alt="spinner">
</ng-template>

<app-modal 
    [opened]="deleteConfirm"
    [title]="'Delete confirmation'"
    [content]="'Are you sure?'"
    (close)="onModalClosed($event)">
</app-modal>